.header {
  padding: 60px;
  text-align: center;
  /*font-size: 30px;*/
}

.axis-label {
    text-anchor: middle;
    font-size: 12px;
    font-weight: semibold;
}

body {
    font-family: "Open Sans";
    margin: 0;
    background-color: #D0D0D0;
    /*background-color: #87CEEB;*/
}

body.text {
    font-size: 15px;
}

#main {
    margin: 20px;
}

div#container {
    height: 600px;
    width: 500px;
    border: 2px solid #000;
    overflow: scroll;
    float: left;
    background-color: #87CEEB;
}

#block_container {
    display: inline-flex;
    align-content: space-between;
    padding: 10px;
}

#plays_container {
    /*text-align: center;*/
    padding: 30px;
}

#field_container {
    /*float: right;*/
    padding: 30px;
}

#top_infocontainer {
    display: inline-block;
}

#second_row_containers {
    display: inline-flex;
    align-content: space-between;
    padding: 10px;
    background-color: #87CEEB;
}

#piechart {
    /*background-color: #87CEEB;*/
}

#barchart {
    /*background-color: #87CEEB;*/
}

#runplay {
    float: right;
}

g {
    text-align: left;
}

button {
    margin-left: 50px;
    margin-top: 10px
}

text,
label {
    font: 15px sans-serif;
    text-anchor: middle;
}

div {
    padding-top: 10px;
    padding-bottom: 10px;
}

.arc:hover {
    fill: orange;
}

rect:hover {
    fill: orange;
}

.tooltip {
    padding: 10px;
    background: white;
    border-radius: 4px;
    border: solid;
    border-width: 1px;
    font: 15px sans-serif;
}

h {
    font: 20px sans-serif;
}

/* .dot circle {
    fill: #2381b3;
    opacity: 0.8;
} */

.dot text {
    text-anchor: middle;
    font-size: 10px;
    pointer-events: none;
    fill: #555;
    opacity: 0;
}

.dot:hover text {
    opacity: 1;
}

.player {

}

.player-label {
  fill: #ccc;
  font-size: 11px;
}

.player circle {
  fill-opacity: 1.0;
  border: 8px solid #f84342;
  stroke: #fff;
  stroke-width: 0.5;
  stroke-opacity: 0.6;
  z-index: 3;
}

.player text {
    font-size: 15px;
    font-weight: bold;
    text-anchor: middle;
    pointer-events: none;
    visibility: visible;
}

.player.name text {
    font-size: 15px;
    font-weight: bold;
    text-anchor: middle;
    pointer-events: none;
    visibility: hidden;
}


.player:hover text {
    visibility: visible;
}

.player.number text {
    /*opacity: 1;*/
    font-size: 15px;
    font-weight: bold;
    text-anchor: middle;
    z-index: 2;
    visibility: visible;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 80%; /* Full-width */
  height: 25px; /* Specified height */
  background: #FFFF00; /* Grey background */
  outline: none;  Remove outline 
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

.flex-container {
    display: flex;
    flex-direction: column;
    display: inline-flex;
    align-content: space-between;
    align-items:center;
    justify-content: center;
    padding: 10px;
}